body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.App {
  display: block;
  align-items: center;
  height: 100vh;
  text-align: center;
  
}

.header {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: auto;
  margin-bottom: 10vh;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 500px;

}

fieldset {
  border: none;
}
select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}
textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
}


button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #0080ff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}